html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: gray;
}

#log {
  background: white;
  margin-bottom: 4rem;
  padding: 0 0.5em 0 0.5em;
  position: absolute;
  top: 1.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 3em;
  overflow: auto;
}

#form {
  box-sizing: border-box;
  padding: 0 0.5em 0 0.5em;
  margin: 0;
  position: absolute;
  bottom: 1em;
  left: 0px;
  width: 100%;
  overflow: hidden;
}

#msg,
#roomId,
#username {
  width: 80%;
}

input[type="submit"],
input[type="button"],
label {
  width: 15%;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message {
  overflow-wrap: break-word;
  padding: 0.5rem;
  background-color: #b9b6b6;
}

.me {
  color: white;
  background-color: #05c535;
}

.connecting {
  background-color: rgb(231, 114, 36);
}

.connected {
  background-color: rgb(52, 118, 204);
}

.join {
  background-color: rgb(204, 223, 35);
}

.left {
  background-color: rgb(209, 50, 50);
}
